body{
    background-color: #fafafa;
}

.page-content {
    max-width: calc(100% - 48px);
    width: calc(100% - 48px);
    margin: 24px auto;
    padding: 0;
}

.page-header-action,
.page-action {
    display: flex;
    margin: 16px 0;
    justify-content: flex-end;
    gap: .5rem;
    /* margin-right: 10px; */
}

.page-header-action button,
.page-action button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    font-weight: 500;
    border: none;
    padding: 10px 24px;
    font-size: 14px;
}

/* Accordion, Card */
.accordion,
.card {
    width: 100%;
    justify-self: center;
    border-radius: var(--bs-border-radius);
    background-color: #fff;
}

.accordion {
    box-shadow:
      -1px 0 10px rgba(0, 0, 0, 0.3),  /* sombra esquerda */
      1px 0 10px rgba(0, 0, 0, 0.3),   /* sombra direita */
      0 -1px 10px rgba(0, 0, 0, 0.3) !important;  /* sombra em cima */
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}

.accordion-item,
.accordion-button.collapsed {
    border: none !important;    
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.accordion-button,
.card-header {
    color: #fff !important;
    background: linear-gradient(135deg, #2c2f36, #3a4a6b);
    overflow: hidden;
    padding: 15px 22px;
    font-size: 16px;
    font-weight: 500;
}

.accordion-button:focus {
    box-shadow: none;
    overflow: none;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

.accordion-body {
    background-color: #4b3ed61a;
    border: none !important;
}

/* Form control, Select */
.form-control,
.form-select {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:hover,
.form-select:hover {
  border-color: #6c757d;
}

.form-control:focus,
.form-select:focus {
  border-color: #6c757d;  
  box-shadow: 0 0 0 0.15rem rgba(108, 117, 125, 0.4);
}

/* Switch */
.form-switch .form-check-label{
    width: 30px;
    text-align: left;
}

.form-switch .form-check-input{
    height: 17px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    cursor: pointer;
}

.form-switch .form-check-input:checked  {
    background-color: #6c757d;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--bs-border-color);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}