.FormEmprestimos{
    margin: 0 10%;
}

.FormEmprestimos .card,
.FormEmprestimos .table-responsive{
    box-shadow: 0px 0px 10px 0px black;
    width: 100%;
    justify-self: center;
}

.FormEmprestimos .input-filtro{
    width: 50%;
    margin-left: 1%;
}
