.loading-bar-wrapper {
    position: relative;
    width: 100%;
    background-color: var(--bs-gray-300, #dee2e6); /* Bootstrap fallback */
    overflow: hidden;
    border-radius: 4px;
  }
  
  .loading-bar-inner {
    position: absolute;
    height: 100%;
    width: 30%;
    animation: slide-bar 1.2s ease-in-out infinite;
    border-radius: 6px;
  }
  
  @keyframes slide-bar {
    0% {
      left: -30%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 100%;
    }
}
  